 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 450px;
}

.u-section-1 .u-text-1 {
  font-size: 6.25rem;
  font-weight: 700;
  text-align: left;
  margin: 60px -26px 59px 401px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 301px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 648px;
}

.u-section-2 .u-text-1 {
  margin: 73px 0 0;
}.u-section-3 .u-sheet-1 {
  min-height: 517px;
}

.u-section-3 .u-text-1 {
  margin: 29px 0 28px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 728px;
  }
}